<header class="header">
  <h1>RxJS Sandbox</h1>
</header>

<main class="main">
  <div class="rxjs-sandbox">
    <h3>Cold observable</h3>
    <p>Demonstrating a basic cold observable. Click the button to subscribe to the observable.</p>
    <div class="buttons">
      <button class="primary" (click)="subscribeToObservable()">
        Subscribe to Cold Observable
      </button>
    </div>
  </div>

  <div class="rxjs-sandbox">
    <h3>Hot observable</h3>
    <p>
      Demonstrating a basic hot observable. Click the buttons below to subscribe observers to the
      hot observable. Only active emissions will be received.
    </p>
    <div class="buttons">
      <button class="primary" (click)="subscribeToHotObservable('Observer 1')">
        Subscribe Observer 1
      </button>
      <button class="primary" (click)="subscribeToHotObservable('Observer 2')">
        Subscribe Observer 2
      </button>
    </div>
  </div>

  <div class="rxjs-sandbox">
    <h2>Subject</h2>
    <div class="buttons">
      <button class="primary" (click)="subscribeToSubject('Subject Observer 1')">
        Subscribe to Subject
      </button>
      <button class="primary" (click)="emitToSubject()">Emit to Subject</button>
    </div>

    <h2>BehaviorSubject</h2>
    <div class="buttons">
      <button class="primary" (click)="subscribeToBehaviorSubject('Behavior Observer 1')">
        Subscribe to BehaviorSubject
      </button>
      <button class="primary" (click)="emitToBehaviorSubject()">Emit to BehaviorSubject</button>
    </div>

    <h2>ReplaySubject</h2>
    <div class="buttons">
      <button class="primary" (click)="subscribeToReplaySubject('Replay Observer 1')">
        Subscribe to ReplaySubject
      </button>
      <button class="primary" (click)="emitToReplaySubject()">Emit to ReplaySubject</button>
    </div>

    <h2>AsyncSubject</h2>
    <div class="buttons">
      <button class="primary" (click)="subscribeToAsyncSubject('Async Observer 1')">
        Subscribe to AsyncSubject
      </button>
      <button class="primary" (click)="emitToAsyncSubject()">Emit & Complete AsyncSubject</button>
    </div>
  </div>

  <div class="rxjs-sandbox">
    <h2>Simple streams</h2>
    <p>
      Stream1: random generates number<br />
      Stream2: rorund number<br />
      Stream3: filtered > 3
    </p>
    <div class="buttons">
      <button class="primary" (click)="runStream()">Run streams</button>
    </div>
  </div>

  <div class="rxjs-sandbox">
    <h2>Mapping Operators</h2>
    <p>return from(['order 1', 'order 2', 'order 3', 'order 4']);</p>
    <div class="buttons">
      <button class="primary" (click)="runMergeMap()">Run mergeMap</button>

      <button class="primary" (click)="runConcatMap()">Run concatMap</button>

      <button class="primary" (click)="runExhaustMap()">Run exhaustMap</button>

      <button class="primary" (click)="runSwitchMap()">Run switchMap</button>
    </div>
  </div>
</main>
