<header class="dashboard-header">
  <div class="dashboard-welcome">
    <h1>{{ title }}</h1>
    <p>Welcome to your dashboard! Only logged-in users can see this page.</p>
  </div>

  <my-component [first]="username || ''" [authRole]="authRole || ''"></my-component>
</header>
<main class="dashboard-main">
  <section class="weather-section">
    <app-weather></app-weather>
  </section>

  <section class="space-x-section" *ngIf="authRole === 'admin'">
    <app-space-x></app-space-x>
  </section>
</main>
