.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.header-inner {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.brand-name {
  display: flex;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 22px;
  }
}

.authBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-elem {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
}

.nav-elem:hover {
  text-decoration: underline;
}
