<header class="header">
  <div class="header-inner">
    <div class="brand-name">
      <a [routerLink]="['/']" aria-label="House logo"
        ><img class="brand-logo" src="assets/logo.svg" alt="logo" aria-hidden="true"
      /></a>
      <h1>{{ liveTitle$ | async }}</h1>
    </div>
    <app-click-counter></app-click-counter>
    <div class="authBox">
      <a class="nav-elem" href="/rxjs-sandbox">RxJS</a>
      <a class="nav-elem" *ngIf="isLoggedIn()" href="/dashboard">Dashboard</a>
      <button class="primary" *ngIf="!isLoggedIn()" (click)="router.navigate(['/login'])">
        Login
      </button>
      <button class="primary" *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
