:host {
  display: block;
}

.my-component {
  font-family: Arial, sans-serif;
  color: #666;
  padding: 10px 30px;
  background: linear-gradient(to bottom, #f0f0f0, #eeeeee);
  border-radius: 5px;
  font-weight: 300;
}
